#navigation ul{
    display:flex;
    gap: 4em;
    padding-bottom: 0;
    list-style: none;
}
#navigation {
    position:fixed;
    top: 0;
    background-color:rgb(34,61,34);
}
a :hover{
    opacity: 0.3;
}
#name {
    font-family: monospace;
    font-size:4rem;
    padding: top 3inch;;
    color: rgb(38, 92, 43);
}
h2{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(38, 92, 43);
}
body{
    height: 100vh;
    background-color:rgb(108, 151, 105);
    font-family: 'Courier New', Courier, monospace;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
}
.grid-item{
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    border-radius: 0.8rem;
    padding: 0.5em;
}
#skills ul li{
    list-style: none;
    display: flexbox;
    margin: 0.5em;
    background-color:rgb(34, 61, 34);
    color:whitesmoke;
    padding: 0.5em;}
#experience ul li{
    list-style: none;
    display: flexbox;
    margin: 0.5em;
    background-color:rgb(34, 61, 34);
    color:whitesmoke;
    padding: 0.5em;
}
#connect ul li{
    list-style: none;
    display:flex;
    margin: 1em;
    background-color: rgb(34,61,34);
    color: rgb(175, 139, 139);
    padding: o.5em;
}
#footer{
    font-family: monospace;
    font-size:4rem;
    padding: top 3inch;;
    color: rgb(38, 92, 43);
}
                         